/* font family link */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');



.header-div{
    font-family: 'Roboto', sans-serif;
    
    background-image: url("../../images/Mask\ Group\ 2.png"), linear-gradient(to right ,white, white 65%,black 65%,black);
    padding-bottom: 100px;
    
    
}
.pc{
    color: white;
}
/* .chair-img is the picture of hospital chair */
.chair-img{
    width: 70%;
    
}

/* .nav is a class of navbar */
.nav{
    display: flex;
    justify-content: right;
    margin-left: 400px;
    padding: 20px;
    

}
/* .nav-p is some content of navbar */
.nav-p{
    margin-left: 80px;
}
/* now start header main div style */
.header-main-div{
    display: flex;
    justify-content: space-evenly;
    margin-left: 100px;
}
.appointment-btn{
    margin-top: 30px;
    padding: 10px 20px;
    background-image:linear-gradient(to right, rgb(20, 92, 92), rgb(8, 184, 184), cyan);
    border: gray;
}
.appointment-btn:hover{
    color: rgb(98, 107, 107);
    cursor: pointer;
}
/* now start header footer style */
.header-footer{
    display:flex;
    justify-content: space-around;
    transform: translate(00%, -40%)
   
    
}
.footer{
    display: flex;
    justify-content: space-between;
    background-color: rgb(5, 156, 156);
    color: white;
    padding: 20px 40px;
    
}
.footer-icon{
    margin-top: 30px;
    font-size: 4em;
}
.footer-text{
    padding: 10px;
    margin: 10px;
}
.footer-black{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 20px 40px;
    
}
