.check{
    background: linear-gradient(to right,
    rgb(0, 217, 255) 20%, white 20% 40%, white 40% 60%, white 60% 80%, white 80%);
    
    display: flex;
}
*{
    margin: 0;
    padding: 0;
}
.logout{
    margin-top: 350px;
    margin-bottom: 60px;
}
.drawer{
    margin-left: 30px;
    margin-top: 40px;
    color: white;
    
}
.list{
    margin-top: 40px;
    margin-left: 200px;
}
.appointment{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.react-appointment{
    margin-left: 50px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    padding: 10px;
}
.all-petition{
    display: flex;
    justify-content: space-around;
}
.all-petition{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.all-div{
    margin-left: 40px;
}
.react-calendar{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    padding: 20px;
}
.appointment-date{
    display: flex;
    justify-content: space-between;
}
    


